<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <title>Projeto Morfeu</title>
</head>

<body class="bg-light">

<div class="container" style="padding-top: 20px;">

  <div class="row">

    <table class="table table-bordered table-hover table-sm">
      <tr *ngFor="let lead of arrLeads; let i = index;" (click)="setLead(lead)">
        <td>{{lead.nome}}</td>
        <td>{{lead.observacoes}}</td>
        <td>{{lead.data_contato | date: 'dd/MM'}}</td>
      </tr>
    </table>

  </div>

  <div class="row">


    <!-- RESUMO -->

    <div class="col-md-4 order-md-1 mb-4" style="background-color: #dddddd;">

      <br/>

      <h3 class="mb-3">Projeto Morfeu</h3>

      <h4 class="mb-3">{{lead.nome}}</h4>
      <p class="mb-3">Cel: {{lead.celular}}</p>
      <p class="mb-3">Res: {{lead.telefone}}</p>
      <p class="mb-3">Com: {{lead.telefone2}}</p>

      <button class="btn btn-default btn-block" type="button" (click)="nextLead()">Próximo lead</button>

      <hr class="mb-4">

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Resumo</span>
        <span class="badge badge-secondary badge-pill">{{statusStage}}</span>
      </h4>

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Idade</h6>
            <small class="text-muted"></small>
          </div>
          <span class="text-muted">{{lead.idade}} anos</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">IMC</h6>
            <small class="text-muted"></small>
          </div>
          <span class="text-muted">{{lead.imc | number: '1.2-2'}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div [ngClass]="{'text-danger':(lead.status === 'NÃO APTO'),'text-success':(lead.status === 'APTO')}">
            <h6 class="my-0">Status</h6>
            <small></small>
          </div>
          <span [ngClass]="{'text-danger':(lead.status === 'NÃO APTO'),'text-success':(lead.status === 'APTO')}">{{lead.status}}</span>
        </li>
      </ul>

    </div>


    <!-- QUESTIONARIO -->

    <div class="col-md-8 order-md-2">

      <form class="needs-validation" novalidate>

        <h4 class="mb-3">Tem interesse em participar da pesquisa?</h4>

        <div class="d-block my-3">
          <div>
            <input name="interesse" type="radio" [(ngModel)]="lead.interesse" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="interesse" type="radio" [(ngModel)]="lead.interesse" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Não</label>
          </div>
        </div>


        <hr class="mb-4" [hidden]="statusStage < 1">


        <div class="row" [hidden]="statusStage < 1">

          <div class="col-md-4 mb-3" [hidden]="statusStage < 1">
            <label>Data de Nascimento</label>
            <input type="date" class="form-control" [(ngModel)]="lead.nascimento" (change)="calcIdade(lead.nascimento)" [ngModelOptions]="{standalone: true}" required/>
          </div>

          <div class="col-md-4 mb-3" [hidden]="statusStage < 2">
            <label>Altura</label>
            <input type="text" class="form-control" [(ngModel)]="lead.altura" placeholder="em cm" (change)="calcIMC()" [ngModelOptions]="{standalone: true}" required>
          </div>

          <div class="col-md-4 mb-3" [hidden]="statusStage < 2">
            <label>Peso</label>
            <input type="text" class="form-control" [(ngModel)]="lead.peso" placeholder="em kg" (change)="calcIMC()" [ngModelOptions]="{standalone: true}" required>
          </div>

        </div>


        <hr class="mb-4" [hidden]="statusStage < 3">


        <h5 class="mb-3" [hidden]="statusStage < 3">Possui Insônia a mais de 3 meses?</h5>

        <div class="d-block my-3" [hidden]="statusStage < 3">
          <div [hidden]="statusStage < 3">
            <input name="insonia" type="radio" [(ngModel)]="lead.insonia" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="insonia" type="radio" [(ngModel)]="lead.insonia" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Não</label>
          </div>
        </div>

        <h5 class="mb-3" [hidden]="statusStage < 4">Dificuldade para iniciar o sono?</h5>

        <div class="d-block my-3" [hidden]="statusStage < 4">
          <div [hidden]="statusStage < 4">
            <input name="iniciar_sono" type="radio" [(ngModel)]="lead.iniciar_sono" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="iniciar_sono" type="radio" [(ngModel)]="lead.iniciar_sono" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Não</label>
          </div>
        </div>

        <p class="mb-3" [hidden]="statusStage < 5">Dificuldade para manter o sono?</p>

        <div class="d-block my-3" [hidden]="statusStage < 5">
          <div [hidden]="statusStage < 5">
            <input name="manter_sono" type="radio" [(ngModel)]="lead.manter_sono" value="true" [ngModelOptions]="{standalone: true}">
            <label>Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="manter_sono" type="radio" [(ngModel)]="lead.manter_sono" value="false" [ngModelOptions]="{standalone: true}">
            <label>Não</label>
          </div>
        </div>

        <p class="mb-3" [hidden]="statusStage < 5">Desperta antes do horário habitual?</p>

        <div class="d-block my-3" [hidden]="statusStage < 5">
          <div [hidden]="statusStage < 5">
            <input name="despertar_antes" type="radio" [(ngModel)]="lead.despertar_antes" value="true" [ngModelOptions]="{standalone: true}">
            <label>Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="despertar_antes" type="radio" [(ngModel)]="lead.despertar_antes" value="false" [ngModelOptions]="{standalone: true}">
            <label>Não</label>
          </div>
        </div>

        <div class="mb-3" [hidden]="statusStage < 5">
          <label>Horário habitual do participante ir para a cama dormir:</label>
          <input type="text" class="form-control" placeholder="21:00" [(ngModel)]="lead.horario_dormir" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="mb-3" [hidden]="statusStage < 5">
          <label>Possui alguma doença?</label>
          <input type="text" class="form-control" placeholder="Lista de doenças" [(ngModel)]="lead.doenca" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="mb-3" [hidden]="statusStage < 5">
          <label>Quais medicamentos faz uso no momento?</label>
          <input type="text" class="form-control" placeholder="Lista de medicamentos" [(ngModel)]="lead.medicamentos" [ngModelOptions]="{standalone: true}">
        </div>


        <hr class="mb-4" [hidden]="statusStage < 5">


        <h5 class="mb-3" [hidden]="statusStage < 5">Utilizou betabloqueadores, medicamentos psicoativos ou com efeito sedativo, tais como,
          mas não se limitando a antidepressivos, sedativos, antiepiléticos, hipnóticos, antipsicóticos,
          relaxantes musculares, anti-histamínicos de primeira geração (anti-alérgico),
          entre outros, nos últimos 30 dias anteriores à visita de triagem (V-1)?
        </h5>

        <div class="d-block my-3" [hidden]="statusStage < 5">
          <div [hidden]="statusStage < 5">
            <input name="usou_medicamento" type="radio" [(ngModel)]="lead.usou_medicamento" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="usou_medicamento" type="radio" [(ngModel)]="lead.usou_medicamento" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>

        <p style="font-style: italic;" [hidden]="statusStage < 6">
          Alguns exemplos de medicamentos proibidos: Clonazepam, Zolpidem, Fluoxetina, Dramin, Rivotril,
          Ciclobenzaprina, amitriptilina, Mirtazapina (Remeron), Citalopan, Sertralina, Valium, Propanolol.
        </p>


        <hr class="mb-4" [hidden]="statusStage < 6">


        <h5 class="mb-3" [hidden]="statusStage < 6">
          Diagnóstico diabetes e seja insulinodependente?
        </h5>

        <div class="d-block my-3" [hidden]="statusStage < 6">
          <div [hidden]="statusStage < 6">
            <input name="diabetes" type="radio" [(ngModel)]="lead.diabetes" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="diabetes" type="radio" [(ngModel)]="lead.diabetes" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>


        <h5 class="mb-3" [hidden]="statusStage < 7">
          Diagnóstico de Apneia do sono moderada a grave?
        </h5>

        <div class="d-block my-3" [hidden]="statusStage < 7">
          <div [hidden]="statusStage < 7">
            <input name="apneia" type="radio" [(ngModel)]="lead.apneia" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="apneia" type="radio" [(ngModel)]="lead.apneia" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>

        <h5 class="mb-3" [hidden]="statusStage < 8">
          Trabalha durante a noite?
        </h5>

        <div class="d-block my-3" [hidden]="statusStage < 8">
          <div [hidden]="statusStage < 8">
            <input name="trabalha_noite" type="radio" [(ngModel)]="lead.trabalha_noite" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="trabalha_noite" type="radio" [(ngModel)]="lead.trabalha_noite" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>


        <h5 class="mb-3" [hidden]="statusStage < 9">
          Uso abusivo de álcool ou drogas ilícitas?
        </h5>

        <div class="d-block my-3" [hidden]="statusStage < 9">
          <div [hidden]="statusStage < 9">
            <input name="alcool_drogas" type="radio" [(ngModel)]="lead.alcool_drogas" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="alcool_drogas" type="radio" [(ngModel)]="lead.alcool_drogas" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>


        <hr class="mb-4">


        <div class="mb-3">
          <label>Observação:</label>
          <textarea class="form-control" [(ngModel)]="lead.observacoes" [ngModelOptions]="{standalone: true}"></textarea>
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="saveLead()">Salvar informações</button>

      </form>

      <br clear="all"/>

    </div>


  </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
