<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <title>Projeto Morfeu</title>
</head>

<body class="bg-light">

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../assets/logo.jpg" alt="" width="102" height="102">
    <h2>Projeto Morfeu</h2>
  </div>

  <div class="row">


    <!-- RESUMO -->

    <div class="col-md-4 order-md-2 mb-4">

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Resumo</span>
      </h4>

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Idade</h6>
            <small class="text-muted"></small>
          </div>
          <span class="text-muted">{{lead.idade}} anos</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">IMC</h6>
            <small class="text-muted"></small>
          </div>
          <span class="text-muted">{{lead.imc | number: '1.2-2'}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div [ngClass]="{'text-danger':(lead.status === 'NÃO APTO'),'text-success':(lead.status === 'APTO')}">
            <h6 class="my-0">Status</h6>
            <small></small>
          </div>
          <span [ngClass]="{'text-danger':(lead.status === 'NÃO APTO'),'text-success':(lead.status === 'APTO')}">{{lead.status}}</span>
        </li>
      </ul>

    </div>


    <!-- QUESTIONARIO -->

    <div class="col-md-8 order-md-1">

      <h3 class="mb-3">{{lead.nome}}</h3>
      <h5 class="mb-3">{{lead.telefone}} - {{lead.telefone2}} - {{lead.celular}}</h5>

      <form class="needs-validation" novalidate>

        <div class="row">

          <div class="col-md-4 mb-3">
            <label>Data de Nascimento</label>
            <input type="date" class="form-control" [(ngModel)]="lead.nascimento" (change)="calcIdade(lead.nascimento)" [ngModelOptions]="{standalone: true}" required/>
          </div>

          <div class="col-md-4 mb-3">
            <label>Altura</label>
            <input type="text" class="form-control" [(ngModel)]="lead.altura" placeholder="em cm" (change)="calcIMC()" [ngModelOptions]="{standalone: true}" required>
          </div>

          <div class="col-md-4 mb-3">
            <label>Peso</label>
            <input type="text" class="form-control" [(ngModel)]="lead.peso" placeholder="em kg" (change)="calcIMC()" [ngModelOptions]="{standalone: true}" required>
          </div>

        </div>


        <hr class="mb-4">


        <h5 class="mb-3">Possui Insônia a mais de 3 meses?</h5>

        <div class="d-block my-3">
          <div>
            <input name="insonia" type="radio" [(ngModel)]="lead.insonia" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Sim</label>
          </div>
          <div>
            <input name="insonia" type="radio" [(ngModel)]="lead.insonia" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Não</label>
          </div>
        </div>

        <h5 class="mb-3">Dificuldade para iniciar o sono?</h5>

        <div class="d-block my-3">
          <div>
            <input name="iniciar_sono" type="radio" [(ngModel)]="lead.iniciar_sono" value="true" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Sim</label>
          </div>
          <div>
            <input name="iniciar_sono" type="radio" [(ngModel)]="lead.iniciar_sono" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Não</label>
          </div>
        </div>

        <p class="mb-3">Dificuldade para manter o sono?</p>

        <div class="d-block my-3">
          <div>
            <input name="manter_sono" type="radio" [(ngModel)]="lead.manter_sono" value="false" [ngModelOptions]="{standalone: true}">
            <label>Sim</label>
          </div>
          <div>
            <input name="manter_sono" type="radio" [(ngModel)]="lead.manter_sono" value="false" [ngModelOptions]="{standalone: true}">
            <label>Não</label>
          </div>
        </div>

        <p class="mb-3">Desperta antes do horário habitual?</p>

        <div class="d-block my-3">
          <div>
            <input name="despertar_antes" type="radio" [(ngModel)]="lead.despertar_antes" value="false" [ngModelOptions]="{standalone: true}">
            <label>Sim</label>
          </div>
          <div>
            <input name="despertar_antes" type="radio" [(ngModel)]="lead.despertar_antes" value="false" [ngModelOptions]="{standalone: true}">
            <label>Não</label>
          </div>
        </div>

        <div class="mb-3">
          <label>Horário habitual do participante ir para a cama dormir:</label>
          <input type="text" class="form-control" placeholder="21:00">
        </div>

        <div class="mb-3">
          <label>Possui alguma doença?</label>
          <input type="text" class="form-control" placeholder="Lista de doenças" required>
        </div>

        <div class="mb-3">
          <label>Quais medicamentos faz uso no momento?</label>
          <input type="text" class="form-control" placeholder="Lista de medicamentos">
        </div>


        <hr class="mb-4">


        <h5 class="mb-3">Utilizou betabloqueadores, medicamentos psicoativos ou com efeito sedativo, tais como,
          mas não se limitando a antidepressivos, sedativos, antiepiléticos, hipnóticos, antipsicóticos,
          relaxantes musculares, anti-histamínicos de primeira geração (anti-alérgico),
          entre outros, nos últimos 30 dias anteriores à visita de triagem (V-1)?
        </h5>

        <div class="d-block my-3">
          <div>
            <input name="usou_medicamento" type="radio" [(ngModel)]="lead.usou_medicamento" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
          </div>
          <div>
            <input name="usou_medicamento" type="radio" [(ngModel)]="lead.usou_medicamento" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>

        <p style="font-style: italic;">
          Alguns exemplos de medicamentos proibidos: Clonazepam, Zolpidem, Fluoxetina, Dramin, Rivotril,
          Ciclobenzaprina, amitriptilina, Mirtazapina (Remeron), Citalopan, Sertralina, Valium, Propanolol.
        </p>


        <hr class="mb-4">


        <h5 class="mb-3">
          Diagnóstico diabetes e seja insulinodependente?
        </h5>

        <div class="d-block my-3">
          <div>
            <input name="diabetes" type="radio" [(ngModel)]="lead.diabetes" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
          </div>
          <div>
            <input name="diabetes" type="radio" [(ngModel)]="lead.diabetes" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>


        <h5 class="mb-3">
          Diagnóstico de Apneia do sono moderada a grave?
        </h5>

        <div class="d-block my-3">
          <div>
            <input name="apneia" type="radio" [(ngModel)]="lead.apneia" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
          </div>
          <div>
            <input name="apneia" type="radio" [(ngModel)]="lead.apneia" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>

        <h5 class="mb-3">
          Trabalha durante a noite?
        </h5>

        <div class="d-block my-3">
          <div>
            <input name="trabalha_noite" type="radio" [(ngModel)]="lead.trabalha_noite" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
          </div>
          <div>
            <input name="trabalha_noite" type="radio" [(ngModel)]="lead.trabalha_noite" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>


        <h5 class="mb-3">
          Uso abusivo de álcool ou drogas ilícitas?
        </h5>

        <div class="d-block my-3">
          <div>
            <input name="alcool_drogas" type="radio" [(ngModel)]="lead.alcool_drogas" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label class="text-danger">Sim</label>
          </div>
          <div>
            <input name="alcool_drogas" type="radio" [(ngModel)]="lead.alcool_drogas" value="false" [ngModelOptions]="{standalone: true}" (change)="calcStatus()">
            <label>Não</label>
          </div>
        </div>


        <hr class="mb-4">


        <div class="mb-3">
          <label>Observação:</label>
          <textarea class="form-control"></textarea>
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="saveLead()">Salvar informações</button>

      </form>

    </div>

  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 icons4u inc</p>
  </footer>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
